
// 8.アクセス
.page-access {
	
	&__title {
		// aboutに記述

	}
	&__bottombox {
		margin: 50px auto;
			@include min-screen($break_point_max) {
				display: flex;
				justify-content: center;
				&:nth-child(odd) {
					flex-direction: row-reverse;
				}
			}
			&__pic {
				width: 100%;
				overflow: hidden;
				@include min-screen($break_point_max) {
					width: calc(50% - 20px);
				}
				img {
					width: 100%;
					padding: 10px;
				}
			}
			&__text {
				width: 100%;
				padding: 10px;
				@include min-screen($break_point_max) {
					width: calc(50% - 20px);
				}
			}
	}
	&-inforbox {
		// color: $black;
		@include min-screen($break_point_max) {
			font-weight: bold;
		}
	}
	&-timebox { //【一つ目】のコンテンツ内はここに
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		@include min-screen($break_point_max) {
			width: 70%;
		}
		p {
			color: $inkblack;
			text-align: center;
		}
	}

	&-mapbox { //【二つ目】のコンテンツ内はここに
		width: 100%;
		height: 300px;
		border: 2px solid $lightblack;
		overflow: hidden;
		// @include min-screen($break_point_max) {
		// 	margin-bottom: 50px;
		// }

	}

	table {
		width: 100%;
		font-size: 15px;
		@include min-screen($break_point_max) {
			font-size: 17px;
		}
		tbody {
			tr {
				th {
					// @include min-screen($break_point_max) {
						width: 30%;
						text-align: end;
					// }
				}
				td {
					width: 70%;
					text-align: start;
					padding-left: 20px;
					line-height: 1.5;
					@include min-screen($break_point_max) {
						padding-left: 40px;
					}

				}
			}
		}
	}
}



