
// 6.ブログ
.page-blog {
	&__title {
		border-bottom: 1px solid $black;
		@include min-screen($break_point_max) {
			
		}
	}
	// 【お知らせ】ブロック
	&-fristbox { //ul
		max-width: 1000px;
		padding-top: 20px;
		margin: 0 auto;
		&-list { //li
			padding: 5px 0;
			border-bottom: 1px solid #d0d2d4;
			transition: all .5s;
			&:hover {
				color: black;
				background: $white;
				transition: all .5s;
				animation: FadeRight 1.5s ease infinite;
				
				// .page-blog-list__pic { //画像部分（左）
				// 	filter: blur(0px) contrast(100%);
				// }
			}
			a {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				padding: 0 5px;
			}
			&__pic { //画像部分（左）
				// width: calc(30% - 10px);
				// // padding-top: 10px 0;
				// filter: grayscale(20%);
				// @include min-screen($break_point_max) {
				// 	width: calc(15% - 20px);
				// }
				// img {
				// 	display: inline-block;
				// 	height: auto;
				// 	max-width: 100%;
				// 	vertical-align: middle;
				// }
			}
			&--text { //テキスト部分（右）
				// width: 70%;
				width: 100%;
				@include min-screen($break_point_max) {
					// width: 85%;
					display: flex;
					flex-wrap: wrap;
				}
	
				&__date,
				&__title,
				&__desc {
					font-size: 16px;
					padding-bottom: 10px;
					@include min-screen($break_point_max) {
						font-size: 18px;
					}
				}
				&__date {
					line-height: 1.3;
					@include min-screen($break_point_max) {
						width: 20%;
					}
				}
				&__title {
					font-weight: bold;
					line-height: 1.2;
					@include min-screen($break_point_max) {
						width: 80%;
					}
				}
				&__desc {
					display: none;
					@include min-screen($break_point_max) {
						display: block;
						font-size: 18px;
						padding-top: 10px;
						line-height: 1.5;
					}
				}
			}
		}
	}
	// 【ブログ】ブロック
	&-secbox { //ul

	}
}

.blog {
	&-box {
		width: 100%;
		overflow: hidden;
		@include max-screen($break_point_max) {
			margin-bottom: 20px;
		}
		@include min-screen($break_point_max) {
			width: calc(50% - 10px);
			padding: 0 5px;
			&:last-child {
			display: none;
			}
		}
		@include min-screen($break_point_pc) {
			width: calc(33.333% - 10px);
			&:last-child {
			display: block;
			}
		}

		&__thumbnail {
			width: 100%;
			background: $white;
			// padding: 5px 10px;
			margin-bottom: 10px;
			border-radius: 10px;
			transition-duration: 0.3s; 
			&:hover {
				background: $gray;
				transition-duration: 0.3s; 
			}
			img {
				border-radius: 10px;
				overflow: hidden;
			}
			&-1, &-2, &-3 {
				width: 100%;
				cursor: pointer;
				transition-duration: 0.3s;    
				&:hover {
				opacity: 0.6;
				transition-duration: 0.3s;
				}
			}
		}
		&__textbox {
			line-height: 1.5;
		}
	}
}
