/* ====================
 トップページ用

 compornentとprojectの上書き。
 絶対再利用しないページ固有のスタイル

 ex.) トップだけヘッダーの背景色を変える

=======================*/

.page-index {
	&__text {
		margin-bottom: 60px;
		text-align: center;
		@include min-screen($break_point_max) {
			margin-bottom: 60px;
		}
	}
	//ここから下は、コンテンツ内部
	.kodawari {
		padding: 120px 0px 70px;
		// text-align: center;
		@include min-screen($break_point_max) {
			padding: 50px 20px;
		}
	}
	.top-shoukai,
	.top-blog {
		padding: 70px 0px;
		// text-align: center;
		@include min-screen($break_point_max) {
			padding: 50px 0px;
		}
	}
	.top-shoukai {

	}
}