
// 3.メニュー／料金表

.page-menu {

	&__bottombox {
		margin: 50px auto;
		@include min-screen($break_point_max) {
			display: flex;
		}
		&__pic {
			width: 100%;
			overflow: hidden;
			@include min-screen($break_point_max) {
				width: calc(50% - 20px);
			}
			img {
				width: 100%;
				padding: 10px;
			}
		}
		&__text {
			width: 100%;
			padding: 10px;
			@include min-screen($break_point_max) {
				width: calc(50% - 20px);
			}
		}
	}
	&-fristbox { //【一つ目】のコンテンツ内はここに
		width: 100%;
		margin: 50px auto 0;
		border: 1px solid $lightblack;
		border-radius: 20px;
		overflow: hidden;
		@include min-screen($break_point_max) {
			margin-bottom: 100px;
		}

		&__pic {
			position: relative;
			width: auto;
			height: auto;
			overflow: hidden;
			@include min-screen($break_point_max) {
				height: 200px;
			}
			img {
				width: 100%;
				opacity: 0.6;
			}

			&__title {
				font-size: 1.5em;
				text-shadow: 2px 3px 1px $white;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}
		&__menubox {
			// background: $white;
			padding: 30px 15px;
			line-height: 1.7;

			table {
				font-size: 18px;
				// padding: auto 100px;
				margin:0 auto;
				border-collapse: collapse;
    			border-spacing: 0;
				tr {
					display: grid;
					@include min-screen($break_point_max) {
						display: table-row;
					}
					td {
						// width: 180px;
						padding-right: 10px;
						padding-bottom: 10px;
						text-align: right;
						vertical-align: top;
						&:first-child {
							// width: 360px;
							text-align: left;
							padding-left: 10px;
						}
						@include max-screen($break_point_max) {
							width: 250px;
						}
					}
				}
			}
			p {
				margin: 30px auto;
				text-align: center;
			}
		}
	}
	&-secbox {
		width: 100%;
		margin: 50px auto 0;
		border: 1px solid $lightblack;
		border-radius: 20px;
		overflow: hidden;
		@include min-screen($break_point_max) {
			width: calc(50% - 10px);
			margin: 0px auto 100px;
		}
		&__pic {
			position: relative;
			width: auto;
			height: auto;
			overflow: hidden;
			@include min-screen($break_point_max) {
				height: 200px;
			}
			img {
				width: 100%;
				opacity: 0.6;
			}

			&__title {
				font-size: 1.5em;
				text-shadow: 2px 3px 1px $white;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}
		&__menubox {
			// background: $white;
			padding: 30px 15px;
			line-height: 1.7;

			table {
				font-size: 18px;
				// padding: auto 100px;
				margin:0 auto;
				border-collapse: collapse;
    			border-spacing: 0;
				tr {
					display: grid;
					@include min-screen($break_point_max) {
						display: table-row;
					}
					td {
						// width: 180px;
						padding-right: 10px;
						padding-bottom: 10px;
						text-align: right;
						vertical-align: top;
						&:first-child {
							// width: 360px;
							text-align: left;
							padding-left: 10px;
						}
						@include max-screen($break_point_max) {
							width: 250px;
						}
					}
				}
			}
			p {
				margin: 30px auto;
				text-align: center;
			}
		}
	}
}



