/*=========================
l-header

<header class="l-header">
	ヘッダーのコンテンツ
</header>
==========================*/

.home {
	.l-header {
		position: relative;
		height: 350px;
		@include min-screen($break_point_max) {
			height: 600px;
		}
		@include min-screen($break_point_pc) {
			height: 600px;
		}
	}
}



.l-header {
	padding: 15px 10px;
	@include min-screen($break_point_pc) {
		width: 100%;
		max-width: 1200px;
		padding: 25px 50px;
		margin: 0 auto;
	}
	&__wrap {

	}
}



// 固定
/*==ふわっと出現させるためのCSS*/
/*　上に上がる動き　*/
.c-header__gnav.UpMove{
	position: fixed;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	width:87%;
	max-width: 670px;
	min-width: 670px;
	height: 70px;
	background: #ffffffb8;
	padding: 20px 35px;
	margin: 0 auto;
	z-index: 999;
	animation: DownAnime 0.5s forwards;
	@include min-screen($break_point_pc) {
		width:93.5%;
		max-width: 960px;
		padding: 20px 40px;
	}
	li { 
		height: auto;
		border-right: 1px dotted $lightblack;
		&:last-child {
			border-right: none;
		}
		&::after {
			position: absolute;
			content: '';
			bottom: 0;
			left: 0;
			height: 2px;
			width: 100% !important;
			transition: 0.5s;
			opacity: 0;
			animation: SlideOut 0.3s;
		}
		&:hover {
			color: $blue;
			margin-top: 1px;
			transition: 0.5s;
			opacity: 1;
			animation: SlideIn 0.5s;
			&::after {
				background: $blue;
				padding: 0 10px;
				opacity: 0.8;
				transition: ease .4s;
			}
		}
	}
	.c-header__gnav__iconbox {
		display: none;
	}
	.c-header__gnav__text {
		bottom: 2px;
	}
}


/*　下に下がる動き　*/
.c-header__gnav.DownMove{
	// position: fixed;
	width:100%;
	height: auto;
	// animation: UpAnime 0.5s forwards;
	z-index: 11111;
}
