
<!-- 当院のこだわり -->

<%-
  include('../common/_pagehead', {
    page: json['about']
  });
%>

<!-- ここからコンテンツ -->
<div id="area-3" class="page l-container">

  <!-- 院内のこだわり -->
  <section class="page-kodawari">
    <h2 class="page-kodawari__title">こだわりその１</h2>
    <div class="page-kodawari-bottombox">
      <img src="" alt="">
      <p class="page-kodawari-bottombox__text">
        テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト。
      </p>
    </div>
    <!-- <div class="c-btn">
      <a href="#" class="c-btn-link">詳しくはこちら</a>
    </div> -->
  </section>
  
  <!-- こだわり -->
  <section class="page-kodawari">
    <h2 class="page-kodawari__title">こだわりその１</h2>
    
    <div class="display-f">
  
    </div>

  </section>
</div>




<% include ../common/_footer %>