
<!-- 当院のこだわり -->

<%-
  include('../common/_pagehead', {
    page: json['about']
  });
%>

<!-- ここからコンテンツ -->
<div id="area-3" class="page l-container">

  <!-- 院内のこだわり -->
  <section class="page-kodawari">
    <h2 class="page-kodawari__title">タイトルタイトル</h2>
    <div class="page-kodawari__bottombox">
      <div class="page-kodawari__bottombox__pic">
        <img src="../images/pic/sample-pic.png" alt="">
      </div>
      <p class="page-kodawari__bottombox__text">
        テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト。
      </p>
    </div>
  </section>
  
  <!-- こだわり -->
  <section class="page-kodawari pd-btm">
    <h2 class="page-kodawari__title">こだわりその１</h2>
    <!-- 画像説明 -->
    <div class="page-kodawari-fristbox">
      <div class="page-kodawari-fristbox__pic">
        <img src="../images/pic/sample-pic.png" alt="こだわりその１">
        <h3 class="page-kodawari-fristbox__pic__title">テキストテキストテキスト</h3>
      </div>
      <div class="page-kodawari-fristbox__textbox">
        <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト。</p>
        <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト。</p>
      </div>
    </div>



    <div class="display-f">
  
    </div>

  </section>
</div>




<% include ../common/_footer %>