

// ニュースティッカー用

#topics {
    padding: 0px 0 0 20px;

	@include min-screen($break_point_max) {
		padding: 20px 0 0 0;
		justify-content: start !important;
	}
	@include min-screen($break_point_pc) {
		// padding: 20px 0 0 0;
	}
	// h2 {
	// 	position: relative;
	// 	&::before {
	// 		position: absolute;
	// 		content: '鍼灸マッサージ院';
	// 		top: 5px;
	// 		right: 5px;
	// 		font-size: 12px;
	// 		@include min-screen($break_point_max) {
	// 			top: -15px;
	// 			right: 30px;
	// 			font-size: 16px;
	// 		}

	// 	}
	// }

}
.topics {
	&-title {
		font-weight: bold;
		border-left: 4px double $lightblack;
		padding-left: 15px;
		@include min-screen($break_point_max) {
			// max-width: 50% !important;
			margin-top: 8px;
			line-height: 2.3;

		}
	}
}

.bx-wrapper {
	margin: auto 0;
	// padding: 30px 0;
	background: none;
	border: none;
	box-shadow:none;

	@include min-screen($break_point_max) {
		// max-width: 50% !important;
		padding-left: 15px;
	}
	.bx-viewport {
		height: 45px !important;
		// border-top: 1px solid $black;
		// border-bottom: 1px solid $black;

		@include min-screen($break_point_max) {
			// height: 50px !important;
		}
		li {
			
		}
		a {
			display: block;
			height: 37px !important;
			padding-top: 35px !important;
			@include min-screen($break_point_max) {
				height: 45px !important;
			}
		}

		
	}
}


.new-day {
	display:inline-block;
	font-size:1rem;
	margin-right:10px;
	color:#777;
}
.new-text {
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	@include min-screen($break_point_max) {
		padding-top: 3px;
	}
}
.new-title {
	font-size:1rem;
}