/* ====================
 card

<div class="p-card">
  <figure class="p-card__thumbnail">
    <img src="" alt="">
  </figure>
  <div class="p-card__textbox">
    <h3 class="p-card__title">
      タイトル
    </h3>
    <p class="p-card__detail">
      概要がはいります。概要がはいります。概要がはいります。概要がはいります。
    </p>
  </div>
</div>

=======================*/

.p-card {
  position: relative;
  width: 100%;
  
  @include max-screen($break_point_max) {
    margin-bottom: 65px;
  }
  @include min-screen($break_point_max) {
    width: calc(50% - 10px);
    padding: 0 5px;
    &:last-child {
      display: none;
    }
  }
  @include min-screen($break_point_pc) {
    width: calc(33.333% - 10px);
    &:last-child {
      display: block;
    }
  }
  &__thumbnail {
    position: relative;
    width: 250px;
    height: 250px;
    background: $white;
    padding: 5px 10px;
    margin: 0 auto;
    border-radius: 20px;
    transition-duration: .8s; 
    overflow: hidden;
    @include min-screen($break_point_max) {
      width: 230px;
      height: 230px;
    }
    @include min-screen($break_point_1440) {
      width: 250px;
      height: 250px;
    }
    &:hover img:nth-of-type(2) {
      opacity: 0;
      transition-duration: .8s; 
    }
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      display: block;
      transition: .4s ease-in-out;
      border-radius: 20px;
      overflow: hidden;
    }
    &-1, &-2, &-3 {
      width: 100%;
      cursor: pointer;
      transition-duration: 0.3s;    
      &:hover {
        opacity: 0.6;
        transition-duration: 0.3s;
      }
    }
  }
  &__1 {
    @include max-screen($break_point_max) {
      margin-top: 100px;
    }
    &::before {
      position: absolute;
      top: -85px;
      left: 40%;
      transform: translateX(-50%);
      content: "";
      display: inline-block;
      width: 180px;
      height: 120px;
      background: url(../images/comment/comment-1.png) no-repeat;
      background-size: contain;
      z-index: 9999;
      @include max-screen($break_point_max) {
        top: -60px;
        width: 141px;
        height: 94px;
      }
    }
  }
  &__3 {
    &::before {
      position: absolute;
      top: -85px;
      left: 82%;
      transform: translateX(-50%);
      content: "";
      display: inline-block;
      width: 180px;
      height: 120px;
      background: url(../images/comment/comment-2.png) no-repeat;
      background-size: contain;
      z-index: 9999;
      @include max-screen($break_point_max) {
        top: -50px;
        width: 135px;
        height: 90px;
      }
    }
  }
  &__textbox {
    padding: 20px;
  }
  &__title {
    font-size:20px;
    font-weight: bold;
  }
  &__detail {
    font-size:14px;
    margin-top: 1em;
  }
}