#menu-header-menu {
	.current-menu-item a p,

	.current-menu-item a .st0 {
		color: $yellow !important;
		font-weight: bold;
		text-shadow: 1px 0px 1px $inkblack;
	}



	// .works,
	// .news,
	// .author {
	// 	.current-page {
	// 		color: $Dgreen !important;
	// 		font-weight: bold;
	// 		text-shadow: 2px 2px 1px $white;
	// 	}
	// }
}

// .current,
// .current-item {
// 	color: $Dgreen !important;
// 	font-weight: bold;
// 	text-shadow: 2px 2px 1px $white;
// }


.blog {
	.current-blog:nth-child(5) a p {
		color: $yellow !important;
		font-weight: bold;
		text-shadow: 1px 0px 1px $inkblack;
	}
}
