/* ====================
 breadcrumb

<ul class="c-breadcrumb">
  <li class="c-breadcrumb__item"><a  class="c-breadcrumb__link" href="/">ホーム</a></li>
  <li class="c-breadcrumb__item>カレントページタイトル</li>
</ul>

=======================*/

.c-breadcrumb {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: auto;
    padding: 5px 15px;
    color: $black;
    background: #ffffff6b;
    &__item {
      display: inline-block;
      &:not(:last-child) {
        &::after {
          content: ">";
          padding: 0 5px;
        }
      }
    }

    &__link {
      text-decoration: none;
    }
}
