/*========= LoadingのためのCSS ===============*/
#container {
    position: relative;
    opacity: 0;
}

body #container {
    animation-name: PageAnimeAppear;
    animation-duration: 1s;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
    opacity: 0;
}

// ローディングに関するアニメーション
@keyframes PageAnimeAppear{
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

/* Loading背景画面設定　*/
#splash {
	/*fixedで全面に固定*/
	position: fixed;
	z-index: 99999;
	width: 100%;
	height: 100%;
	background:#CDAF7F;
	text-align:center;
	color:$white;
	font-weight: bold;
}

/* Loading画像中央配置　*/
#splash_logo {
	position: absolute;
	top: 35%;
	left: 50%;
	transform: translate(-50%, -50%);

	/* Loading アイコンの大きさ設定　*/
	img {
		width:150px;
	}
}

/* fadeUpをするアイコンの動き */
.fadeUp{
	animation-name: fadeUpAnime;
	animation-duration:1s;
	animation-fill-mode:forwards;
	opacity: 0;
}

