// PCの固定関係
/*==ふわっと出現させるためのCSS*/
	/*　上に上がる動き　*/
	.c-header__gnav.UpMove{
		position: fixed;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		width:87%;
		max-width: 640px;
		min-width: 640px;
		height: 70px;
		background: #ffffffb8;
		padding: 20px 5px;
		margin: 0 auto;
		z-index: 999;
		animation: DownAnime 0.5s forwards;
		@include min-screen($break_point_pc) {
			width:93.5%;
			max-width: 839px;
			padding: 20px 40px;
		}
		@include min-screen($break_point_1440) {
			width:93.5%;
			max-width: 960px;
			padding: 20px 40px;
		}
		li { 
			height: auto;
			border-right: 1px dotted $lightblack;
			&:last-child {
				border-right: none;
			}
			&::after {
				position: absolute;
				content: '';
				bottom: 0;
				left: 0;
				height: 2px;
				width: 100% !important;
				transition: 0.5s;
				opacity: 0;
				animation: SlideOut 0.3s;
			}
			&:hover {
				margin-top: 1px;
				transition: 0.5s;
				opacity: 1;
				animation: SlideIn 0.5s;
				&::after {
					background: $Dgreen;
					padding: 0 10px;
					opacity: 0.8;
					transition: ease .4s;
				}
			}
		}
		.c-header__gnav__iconbox {
			display: none;
		}
		.c-header__gnav__text {
			bottom: 5px;
		}
	}
	/*　下に下がる動き　*/
	.c-header__gnav.DownMove{
		width:100%;
		height: auto;
		z-index: 11111;
	}

// SPのハンバーガーメニュー固定関係
	.gnav-btn.UpMove {
		@include max-screen($break_point_max) {
			position: fixed;
			z-index: 999;
			animation: DownAnime 0.5s forwards;
		}
	}

// PCの固定関係
	.page-scroll {
		&__line.UpMove {
			opacity: 1;
			transition: all .5s;
		}
		&__line.DownMove {
			opacity: 0;
			transition: all .5s;
		}
		&__line {
			&__link {
				position: relative;
				display: block;
				width: 40px;
				height: 40px;
				background: $L-green;
				border-radius: 5px;
				box-shadow: 0px 1px 2px $lightblack inset;
				transition: all .5s;


				@include min-screen($break_point_max) {
					width: 60px;
					height: 85px;
				}

				&:hover {
					background: $Dgreen;
					transition-duration: 0.5s; 
				}
				// アイコン部分
				&::before {
					font-family: 'Font Awesome 5 Brands';
					content: '\f3c0';
					font-weight: 400;
					font-size: 25px;
					color: #fff;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%,-50%);
					z-index: 10;
					@include min-screen($break_point_max) {
						top: 35%;
					}
				}
				&::after {
					@include min-screen($break_point_max) {
						position: absolute;
						content: "LINE\A予約";
						top: 40px;
						left: 50%;
						font-size: 16px;
						line-height: 1.2;
						white-space: pre;
						font-size: 14px;
						font-weight: bold;
						color: $white;
						transform: translateX(-50%);
					}
				}
			}
		}
	}
