// PCの固定関係
/*==ふわっと出現させるためのCSS*/
	/*　上に上がる動き　*/
	.pc-nav__lists.UpMove{
		position: fixed;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		width:87%;
		max-width: 640px;
		min-width: 640px;
		height: 70px;
		background: #ffffffb8;
		padding: 20px 5px;
		margin: 0 auto;
		z-index: 99999;
		animation: DownAnime 0.5s forwards;
		@include min-screen($break_point_pc) {
			width:93.5%;
			max-width: 839px;
			padding: 20px 40px;
		}
		@include min-screen($break_point_1440) {
			width:93.5%;
			max-width: 1060px;
			padding: 20px 40px;
		}
		li { 
			height: auto;
			border-right: 1px dotted $lightblack;
			&:last-child {
				border-right: none;
			}
			&::after {
				position: absolute;
				content: '';
				bottom: 0;
				left: 0;
				height: 2px;
				width: 100% !important;
				transition: 0.5s;
				opacity: 0;
				animation: SlideOut 0.3s;
			}
			&:hover {
				margin-top: 1px;
				transition: 0.5s;
				opacity: 1;
				animation: SlideIn 0.5s;
				&::after {
					background: $hiromi-green;
					padding: 0 10px;
					opacity: 0.8;
					transition: ease .4s;
				}
			}
		}
		.pc-nav__lists__iconbox {
			display: none;
		}
		.pc-nav__lists__text {
			bottom: 5px;
		}
	}
	/*　下に下がる動き　*/
	.pc-nav__lists.DownMove{
		width:100%;
		height: auto;
		z-index: 11111;
	}

// SPのハンバーガーメニュー固定関係
	.gnav-btn.UpMove {
		@include max-screen($break_point_max) {
			position: fixed;
			z-index: 999;
			animation: DownAnime 0.5s forwards;
		}
	}

// PCの固定関係
	.page-btm {
		// &__line.UpMove {
		// 	opacity: 1;
		// 	transition: all .5s;
		// }
		// &__line.DownMove {
		// 	opacity: 0;
		// 	transition: all .5s;
		// }
		&__btn {
			@include max-screen($break_point_max) {
				position: relative;
				position: fixed;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 60px;
				box-shadow: 0px 0px 2px $lightblack;
				z-index: 999999;
			}
		}
		&__tel {
			position: relative;
			width: 50%;
			height: 60px;
			background: $gray;
			// box-shadow: 0px 1px 2px $lightblack inset;
			transition: all .5s;
			&__link {
				text-shadow: 0 0 2px hsla(0, 0%, 0%, 0.149);
				// アイコン部分
				&::before {
					position: absolute;
					top: 50%;
					left: 20px;
					transform: translateY(-50%);
					z-index: 10;

					font-family: 'Font Awesome 5 Free';
					content: '\f098';
					font-weight: bolder;
					font-size: 35px;
					color: #fff;
				}
				&::after {
					position: absolute;
					content: "電話で予約";
					top: 53%;
					left: 60px;
					transform: translateY(-50%);
					font-size: 18px;
					line-height: 1.2;
					white-space: pre;
					font-weight: bold;
					color: $white;

				}
			}
		}
		&__line {
			position: relative;
			width: 50%;
			height: 60px;
			background: #62C734;
			// box-shadow: 0px 1px 2px $lightblack inset;
			transition: all .5s;
			// &:hover {
			// 		background: $Dgreen;
			// 		transition-duration: 0.5s; 
			// }
			&__link {
				text-shadow: 0 0 2px hsla(0, 0%, 0%, 0.149);
				// アイコン部分
				&::before {
					position: absolute;
					top: 50%;
					left: 20px;
					transform: translateY(-50%);
					z-index: 10;

					font-family: 'Font Awesome 5 Brands';
					content: '\f3c0';
					font-weight: 400;
					font-size: 35px;
					color: #fff;
				}
				&::after {
					position: absolute;
					content: "LINEで予約";
					top: 53%;
					left: 60px;
					transform: translateY(-50%);
					font-size: 18px;
					line-height: 1.2;
					white-space: pre;
					font-weight: bold;
					color: $white;

				}
			}
		}
	}
